.header-container {
  margin-top: 24px;
  margin-bottom: 36px;
  position: sticky;
  top: 0;
  z-index: 9000;
  transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.header-container.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 45px; /* Adjust the width as needed */
  height: auto;
}

.me-2 {
  margin-right: 8px; /* Adjust spacing between the logo and the text */
}

.dashboard-text {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 4px;
}

.sub-agency-name {
  flex: 1;
  font-size: 1.3em;
  font-weight: 200;
  padding-bottom: 24px;
}

.header-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.header-sub-container.nav {
  padding: 0;
}

.header-labels {
  display: flex !important;
  flex-direction: row;
  align-items: start;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 9000;
}
.title {
  flex: 1;
  font-size: 1.3em;
  font-weight: 500;
  margin-top:10px;
}

.release-version {
  font-weight: 100;
  color: #7c7c7c;
  font-size: 0.8em;
  margin-left: 2px;
}

.dropdown-container {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: flex-end;
}

.custom-dropdown.upper-right {
  position: absolute;
  top: -64px;
  right: 0;
}

.corner-selector {
  position: absolute;
  top: -48px;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.report-container {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 30px 24px 30px 24px;
  min-height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.report-row {
  margin-bottom: 28px;
}

.report-container-sm {
  min-height: 200px;
  padding-bottom: 32px;
}

.report-row.legend > * > .report-container {
  padding-bottom: 80px;
}

.report-row.legend-sm > * > .report-container {
  padding-bottom: 36px;
}

.row.report-row {
  display: flex;
  align-items: stretch;
}

.report-data {
  flex-grow: 1;
  position: relative;
}

.no-top {
  margin-top: 12px !important;
}

.report-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  gap: 8px;
}

.report-subtitle {
  margin-top: 3px;
  font-size: 0.9em;
  font-weight: 300;
  color: #8c8c8c;
}

.report-data {
  margin-top: 24px;
}

.custom-tr > th {
  background-color: #e5f6f4;
}

.custom-tr > td {
  background-color: #eaf6e5;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.font-bold {
  font-weight: 800;
  color: #2f2f2f;
}

.zero-value {
  color: #9b9b9b;
  font-weight: 100;
}

.width-100 {
  margin-left: -24px;
  margin-right: -24px;
}

.no-data-placeholder {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.5em;
  font-weight: 200;
  color: #7c7c7c;
  height: 100%;
}

.avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #505050;
  font-weight: 600;
  text-transform: uppercase;
}

.custom-scrolltop {
  background-color: white;
}

.report-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.report-loading > :not(.loading-message) {
  transform: scale(0.5);
}

.loading-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  transform: scale(1) !important;
}

.loading-message {
  font-size: 1.5em;
  font-weight: 200;
  margin: 15px 0px 0px 0px;
}

.custom-dropdown {
  margin: 12px 0px 12px 0px;
}

.scroll-depth-label {
  position: relative;
  font-weight: 500;
  text-align: center;
  color: #505050;
  margin-bottom: -40px;
  font-size: 0.9em;
}

.subreport-title {
  font-size: 1em;
  font-weight: 500;
  padding-top: 24px;
}

.top-deficit {
  margin-top: -25px;
}

.clarity-container {
  position: relative;
  padding-top: 2rem;
}

.custom-dropdown-container {
   position: relative;
   padding-top: 30px;
}

.corner-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: -52px 24px 0px 24px;
}

.table-toggle {
  margin-top: 12px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.feedback-button {
  position: fixed;
  right: 0;
  top: 40%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: right bottom;
  z-index: 1000;
}

.feedback-button button {
  background-color: #53af9b;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease, padding-bottom 0.3s ease;
}

.feedback-button button:hover {
  transform: translateX(5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
}

.number-card-container.purple {
  border-left: solid 8px #4051b5;
}

.number-card-container.blue {
  border-left: solid 8px #2196f3;
}

.number-card-container.green {
  border-left: solid 8px #00b862;
}

.number-card-container * {
  cursor: default !important;
}

.number-card {
  position: relative;
}

.number-card-container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4px 0 0;
  height: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 32px;
  cursor: default !important;
  border-left: solid 8px #647c89;
  pointer-events: none;
}

.custom-tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: 200;
  padding: 16px;
  font-size: 0.9em;
  border-radius: 4px;
  width: 250px;
  text-align: center;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-tooltip::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
}

.custom-tooltip {
  opacity: 1;
}

.custom-tooltip > .font-bold {
  color: white !important;
}

.pi-question-circle {
  cursor: help;
}

.dialog-text > * {
  font-size: 0.9em;
  line-height: 1.5em;
  color: black !important;
}

/*AI Analytics*/

.insights-row {
  display: flex;
  justify-content: space-between;
}

.insights-header {
  font-weight: 500;
  font-size: 1.2em;
  color: #4a4a4a;
  padding-left: 24px;
  margin-bottom: 20px;
}

.insights-header > span {
  font-weight: 300;
  font-size: 0.8em !important;
  color: #7c7c7c;
}

.insight-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.ai-takeaway-container {
  border-radius: 20px;
  padding: 30px;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.insight-card:nth-child(2) .ai-takeaway-container {
  background: linear-gradient(135deg, rgb(255, 255, 255), rgba(251, 235, 255, 0.7));
}

.insight-card:nth-child(3) .ai-takeaway-container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(229, 232, 255, 0.94));
}

.insight-card:nth-child(4) .ai-takeaway-container {
  background: linear-gradient(225deg, rgba(255, 255, 255, 1), rgba(249, 238, 255, 0.7));
}

.insight-card:nth-child(5) .ai-takeaway-container {
  background: linear-gradient(197deg,
  rgba(255, 255, 255, 1),
  rgb(224, 232, 214),
  rgb(198, 220, 193));
}

.ai-takeaway-header {
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 12px;
}

.ai-takeaways ul {
  padding-left: 8px;
}

.ai-takeaways ul li {
  font-weight: 200;
  font-size: 0.9em;
  line-height: 1.8em;
}

.font-emphasis {
  font-weight: 400;
}

/* performance index
 */

.performance-index-container {
  padding-top: 12px;
  margin-bottom: 24px;
}

.performance-index-items {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.performance-index-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.performance-index-items.sub {
  margin-top: 24px;
}

.performance-index-value {
  font-size: 1.75em;
  font-weight: 500;
}

.performance-index-value.sub {
  font-size: 1.2em;
  font-weight: 500;
}

.performance-index-value > pi {
  font-size: 0.8em;
  font-weight: 700;
}

.performance-index-description {
  font-weight: 400;
  font-size: 0.9em;
  color: #2f2f2f;
}

.performance-index-value > .pi-arrow-down {
  color: indianred;
}

.performance-index-value > .pi-arrow-up {
  color: mediumseagreen;
}

.performance-index-item-wrapper {
  position: relative;
}

.index-custom-tooltip {
  position: absolute;
  top: 120%; /* Position below the container */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: 200;
  padding: 16px;
  font-size: 0.9em;
  border-radius: 4px;
  width: 250px;
  text-align: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.index-custom-tooltip::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
}

.index-custom-tooltip > span > .font-bold {
  color: white !important;
  font-weight: 500;
}

/* pipeline stages */
.pipeline-td.font-bold {
  font-weight: 500;
}

.pipeline-td {
  padding-top: 18px;
  padding-bottom: 18px;
}


.dropdown-row {
  display: flex;
}

.dropdown-row > * {
  margin-right: 24px;
}

.performance-index-td {
  display: flex;
  justify-content: flex-start;
}

.performance-index-td > .pi {
  font-size: 0.9em;
  font-weight: 700;
}

.performance-index-td > .pi-arrow-down {
  color: indianred;
}

.performance-index-td > .pi-arrow-up {
  color: mediumseagreen;
}

.conversion-rate {
  display: flex;
  align-items: center;
  margin: 0;
}

.conversion-chip {
}

.conversion-chip.increase {
  background-color: #e6f8e9;
  color: #33b354;
}

.conversion-chip.decrease {
  background-color: #f8e6e6;
  color: #ff4d4f;
}

.sales-person-tr > td {
  background-color: #f8f8f8;
  transform: translateY(-1px);
}

.sales-person-td {
  justify-content: start;
}

.contact-avatar {
  width: 12px;
}

/* info tooltips */
.pi-question-circle {
  color: dimgray;
  margin-right: 8px;
  margin-top: 10px;
}

.font-bold-info {
  font-weight: 500;
}

/* sales pipeline report */

.performance-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.conversion-count {
  position: relative; /* Enables absolute positioning for the index chip */
  font-size: 2.5em; /* Main number size */
  font-weight: bold;
}

.main-number {
  display: inline-block;
}

.index-chip {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 12px;
  transform: translateY(-50%);
  padding: 4px 8px;
  border-radius: 16px;
  font-weight: 400;
  font-size: 0.4em;
}

.index-chip.increase {
  background-color: #e6f8e9;
  color: #33b354;
}

.index-chip.decrease {
  background-color: #f8e6e6;
  color: #ff4d4f;
}

.pi-arrow-up {
  color: #33b354;
}

.pi-arrow-down {
  color: #ff4d4f;
}

.followup-label {
  font-size: 1em;
  color: #555;
}

.timeline-container {
  width: 80%;
  padding: 24px;
}

.timeline-count {
  font-size: 2em;
  font-weight: 500;
}

.timeline-month {
  font-size: 0.8em;
  color: grey;
  text-align: center;
}

.chevron-column {
  padding: 0 !important;
  width: 40px;
  text-align: center;
}

/** Lead to appointment */
.percentage-display {
  font-weight: 500;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 32px;
}

.appointment-info {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 32px;
}

.appointment-details {
  font-weight: 300;
}

.appointment-count {
  font-size: 1.3em;
}
