@import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
  font-family: "Ubuntu", sans-serif;
}

* > title {
  display: none !important;
}

html, body {
  background-color: #f2f7fa;
  padding-bottom: 25px !important;
  margin-left: 0;
  margin-right: 0;
}

app-kpi-report path.line.ng-trigger.ng-trigger-animationState {
  stroke-width: 2px;
}

app-kpi-report g.cell {
  font-weight: 700;
  cursor: default !important;
}

app-kpi-report g.cell title {
  display: none !important;
}

app-kpi-report .advanced-pie-legend .legend-items-container .legend-items .legend-item {
  margin-top: 10px !important;
}

app-kpi-report .chart-legend .legend-title  {
  width: fit-content;
}

app-kpi-report ngx-charts-pie-chart .chart-legend .legend-labels {
  width: auto !important;
  max-width: 275px !important;
}

app-kpi-report ngx-charts-area-chart .chart-legend .legend-labels {
  width: auto !important;
  max-width: 275px !important;
}

app-kpi-report ngx-charts-gauge .chart-legend {
  display: table-caption;
  margin-top: -50px;
}

app-kpi-report ngx-charts-line-chart .chart-legend .legend-labels {
  position: relative;
  cursor: pointer;
  overflow: visible;
}

app-kpi-report ngx-charts-line-chart .chart-legend .legend-label-text {
  position: relative;
  cursor: pointer;
  overflow: visible;
}

app-kpi-report .p-avatar img {
  height: auto !important;
}

app-kpi-report .p-button.p-button-icon-only.p-button-rounded {
  height: 1.5rem;
}

app-kpi-report .p-button.p-button-icon-only {
  width: 1.5rem;
  margin-left: 1.5rem;
}


app-kpi-report .primary-tag > span.p-tag {
  background: #caf1d8 !important;
  color: #179142;
  font-size: 0.9em;
}

app-kpi-report .secondary-tag > span.p-tag {
  background: #d0e1fd !important;
  color: #295bac;
  font-size: 0.9em;
  white-space: nowrap;
}

app-kpi-report p-inputnumber input {
  width: 100px !important;
  font-size: 0.8em;
}

app-kpi-report .p-dialog > * {
  color: black !important;
}

app-kpi-report .conversation-number-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

app-kpi-report .conversation-number-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 24px 36px 24px;
}

app-kpi-report .conversation-number {
  font-size: 2.5em;
  font-weight: 500;
  color: #282828;
}

app-kpi-report .conversation-number-label {
  font-weight: 300;
  color: #282828;
}

app-kpi-report .timeline-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px; /* optional, for better visual spacing */
}

app-kpi-report .custom-timeline .p-timeline-event-opposite,
app-kpi-report .custom-timeline .p-timeline-event-content {
  white-space: normal;
}

app-kpi-report .timeline-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: black;
  color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

app-kpi-report .message-card {
  float: right;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: column;
  max-width: fit-content !important;
}

app-kpi-report .message-card.inbound {
  float: right;
}

app-kpi-report .message-card.outbound {
  float: left;
}

app-kpi-report .message-card-duration {
  font-size: 1.25em;
}

app-kpi-report .message-card-body {
  padding-left: 12px;
  margin-bottom: 8px;
  color: #333;
  font-size: 0.9em;
}

app-kpi-report .inbound > .message-card-body {
  border-right: 3px solid #e0e0e0;
  padding-right: 12px;
}

app-kpi-report .outbound > .message-card-body {
  border-left: 3px solid #e0e0e0;
}

app-kpi-report .message-card-status {
  font-weight: 500;
  color: #666;
  font-size: 0.8em;
  margin-bottom: 4px;
}

app-kpi-report .message-card-date {
  font-size: 0.85em;
  color: #999;
}

/* General styles for disabled appearance */
app-kpi-report p-button.dynamic-button > button {
  pointer-events: none; /* Disable interaction */
  margin-right: 10px; /* Add spacing between buttons */
  font-size: 0.9em;
  white-space: nowrap;
}

app-kpi-report p-button.dynamic-button.disabled > button {
  background-color: #BBBBBBFF !important;
  border-color: #BBBBBBFF !important;
 }

/* SMS Button */
app-kpi-report p-button.dynamic-button.sms-button > button {
  background-color: #40A96C;
  border-color: #40A96C;
  color: white;
}

/* Email Button */
app-kpi-report p-button.dynamic-button.email-button > button {
  background-color: #A9407C;
  border-color: #A9407C;
  color: white;
}

/* Call Button */
app-kpi-report p-button.dynamic-button.call-button > button {
  background-color: #4047A9;
  border-color: #4047A9;
  color: white;
}

/* Live Chat Button */
app-kpi-report p-button.dynamic-button.live-chat-button > button {
  background-color: #A9A140;
  border-color: #A9A140;
  color: white;
}

/* SMS Button */
app-kpi-report p-button.dynamic-button.contact.sms-button > button {
  background-color: #55AD7AFF;
  border-color: #55AD7AFF;
  color: white;
}

/* Email Button */
app-kpi-report p-button.dynamic-button.contact.email-button > button {
  background-color: #AB5282FF;
  border-color: #AB5282FF;
  color: white;
}

/* Call Button */
app-kpi-report p-button.dynamic-button.contact.call-button > button {
  background-color: #555AADFF;
  border-color: #555AADFF;
  color: white;
}

/* Live Chat Button */
app-kpi-report p-button.dynamic-button.contact.live-chat-button > button {
  background-color: #ADA653FF;
  border-color: #ADA653FF;
  color: white;
}

