@import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
  font-family: "Ubuntu", sans-serif;
}

* > title {
  display: none !important;
}

html, body {
  background-color: #f2f7fa;
  padding-bottom: 25px !important;
  margin-left: 0;
  margin-right: 0;
}

app-kpi-report path.line.ng-trigger.ng-trigger-animationState {
  stroke-width: 2px;
}

app-kpi-report g.cell {
  font-weight: 700;
  cursor: default !important;
}

app-kpi-report g.cell title {
  display: none !important;
}

app-kpi-report .advanced-pie-legend .legend-items-container .legend-items .legend-item {
  margin-top: 10px !important;
}

app-kpi-report .chart-legend .legend-title  {
  width: fit-content;
}

app-kpi-report ngx-charts-pie-chart .chart-legend .legend-labels {
  width: auto !important;
  max-width: 275px !important;
}

app-kpi-report ngx-charts-gauge .chart-legend {
  display: table-caption;
  margin-top: -50px;
}

app-kpi-report ngx-charts-line-chart .chart-legend .legend-labels {
  position: relative;
  cursor: pointer;
  overflow: visible;
}

app-kpi-report ngx-charts-line-chart .chart-legend .legend-label-text {
  position: relative;
  cursor: pointer;
  overflow: visible;
}

app-kpi-report .p-avatar img {
  height: auto !important;
}

app-kpi-report .p-button.p-button-icon-only.p-button-rounded {
  height: 1.5rem;
}

app-kpi-report .p-button.p-button-icon-only {
  width: 1.5rem;
  margin-left: 1.5rem;
}


app-kpi-report .primary-tag > span.p-tag {
  background: #caf1d8 !important;
  color: #179142;
  font-size: 0.9em;
}

app-kpi-report .secondary-tag > span.p-tag {
  background: #d0e1fd !important;
  color: #295bac;
  font-size: 0.9em;
  white-space: nowrap;
}

app-kpi-report p-inputnumber input {
  width: 100px !important;
  font-size: 0.8em;
}

app-kpi-report .p-dialog > * {
  color: black !important;
}

